
.whb-sticked .whb-general-header .wd-dropdown {
	margin-top: 10px;
}

.whb-sticked .whb-general-header .wd-dropdown:after {
	height: 20px;
}

.whb-header-bottom .wd-dropdown {
	margin-top: 6px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 16px;
}


.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -0px;
	margin-bottom: -0px;
	height: calc(100% + 0px);
}


@media (min-width: 1025px) {
	
		.whb-general-header-inner {
		height: 90px;
		max-height: 90px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
		
		.whb-header-bottom-inner {
		height: 52px;
		max-height: 52px;
	}

		.whb-sticked .whb-header-bottom-inner {
		height: 52px;
		max-height: 52px;
	}
		
	
	}

@media (max-width: 1024px) {
		.whb-top-bar-inner {
		height: 38px;
		max-height: 38px;
	}
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
		.whb-header-bottom-inner {
		height: 52px;
		max-height: 52px;
	}
	
	
	}
		
.whb-top-bar {
	background-color: rgba(74, 144, 226, 1);
}

.whb-general-header {
	border-bottom-width: 0px;border-bottom-style: solid;
}

.whb-header-bottom {
	border-bottom-width: 0px;border-bottom-style: solid;
}
